* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(212, 189, 189);
  height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
}

.flex-cart {
  display: flex;
}

.image-container {
  width: 300px;
  height: 450px;
}

.image-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px; /* optional */
}
