* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(212, 189, 189);
  height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 800px;
  height: 100vh;
}

.flex-cart {
  display: flex;
}

.perfume {
    letter-spacing: 4px;
    padding-top: 5px;
}


.image-container {
  width: 300px;
  height: 400px;
}

.image-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-cart {
  width: 70%;
  height: 400px;
}

.container {
  width: 300px;
  height: 400px;
}

.cart-content {
  background-color: whitesmoke;
  /* border: 2px solid #555555; */
  padding: 1.5rem;
}

.price-content {
   padding: 9px 0;
   font-size: 18px;
}

.button-container {
   background-color: rgb(52, 167, 52);
   padding: 13px 0;
   text-align: center;
   margin: 1.5rem auto;
   border-radius: 5px;

   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}

.button {
  background-color: transparent;
  color: whitesmoke;
  border: none;
  font-size: 14px;
  font-weight: 800;
}

h1 {
  line-height: 30px;
  margin: 1rem 0;
}

.discount {
  font-size: 2rem;
}

.main-price {
  text-decoration: line-through;
}

.cart-price {
  align-items: center;
  gap: 1rem;
}