* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(212, 189, 189);
  height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 800px;
  height: 100vh;
}

.flex-cart {
  display: flex;
}

.image-container {
  width: 300px;
  height: 400px;
}

.image-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-cart {
  width: 70%;
  height: 400px;
}

.container {
  width: 300px;
  height: 400px;
}

.cart-content {
  background-color: whitesmoke;
  border: 2px solid #555555;
  padding: 1rem;
}

.price-content {
   padding: 9px 0;
   font-size: 18px;
}

.button-container {
   background-color: rgb(52, 167, 52);
   width: 70%;
   padding: 8px;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
}

.button {
  background-color: transparent;
  color: whitesmoke;
  border: none;
}
